/* -------- Dropdown menu theme --------- */

  ul.dropdown{
   font-weight: bold;
  }

   ul.dropdown li{
    height: 14px;
    padding: 7px 10px;
    color: #fff;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: #6b6b6b #000 #000;
    background: #2c2c2c;
   }

   ul.dropdown li.hover,ul.dropdown li:hover{
    color: #ed9700;
    background: #494949;
   }

   ul.dropdown a:link,ul.dropdown a:visited{
    color: #fff;
    text-decoration: none;
   }

   ul.dropdown a:hover{
    color: #ed9700;
   }

   ul.dropdown a:active{
    color: #ed9700;
   }

    ul.dropdown ul {
     width: 150px;
     margin-top: 1px;
    }

     ul.dropdown ul li {
      font-weight: normal;
     }

  ul.dropdown *.dir{
   padding-right: 20px;
   background: url('img/arrow.png') no-repeat;
   background-position: 100% 50%;
  }
