/**
 * copyright 2012 Stephen Just <stephenjust@users.sourceforge.net>
 *
 * This file is part of stkaddons
 *
 * stkaddons is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * stkaddons is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with stkaddons.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
    font-family: 'Open Sans', Verdana, Geneva, sans-serif;
    font-size: 13.5px;
    background-repeat: no-repeat;
    background-position: top left;
    color: black;
}

#body-wrapper {
    margin: auto;
    width: 1000px;
}

.center {
    position:absolute;
    width:100px;
    height:100px;
    left:50%;
    top:50%;
    margin-left:-50px;
    margin-top:-50px;
}

#login-form {
    width: 250px;
    margin: 0 auto;
}

#footer {
    color: #000000;
    font-size: small;
    text-align: center;
}

/* Top Bar */
#top-menu {
    background: #e1dbda; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1dbda', endColorstr='#d1ccca'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#e1dbda), to(#d1ccca)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #e1dbda, #d1ccca); /* for firefox 3.6+ */
    border: 0;
    border-bottom: 1px solid #958f8e;
    color: #000000;
    display: block;
    min-height: 35px;
    overflow: auto;
}

#top-menu-content {
    padding-top: 8px;
    margin: 0 20px 0 20px;
    overflow: auto;
}

#top-menu .left {
    float: left;
}

#top-menu .right {
    float: right;
}

#top-menu a {
    color: black;
    font-size: 1.0em;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: underline;
}

#top-menu a:hover {
    color: grey;
}

/* Home Page */
#index-logo {
    display: block;
    margin: 15px auto 0 auto;
    width: 424px;
    height: 325px;
}

#index-menu {
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 130px;
    width: auto;
}

#index-menu > div {
    display: table-cell;
    padding: 0 50px 0 50px;
    width: 106px;
}

#index-menu a {
    background-image: url('../img/index-icons.png');
    background-repeat: no-repeat;
    display: block;
    padding: 108px 0 0 0;
    width: 106px;
}

#index-menu a.karts {
    background-position: -106px 0;
}

#index-menu a.tracks {
    background-position: 0 0;
}

#index-menu a.arenas {
    background-position: -212px 0;
}

#index-menu a.help {
    background-position: -318px 0;
}

#index-menu a span {
    display: inline;
    background: #efefef !important;
    padding: 2px 15px 2px 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* This and line below for IE */
    behavior: url('PIE.htc');
}

/* News Bar */
#index-news {
    display: block;
    background-image: url('../img/news-panel.png');
    width: 1000px;
    height: 91px;
}

#index-news-shadow {
    display: block;
    background-image: url('../img/news-panel-shadow.png');
    background-repeat: repeat-x;
    width: 1000px;
    height: 10px;
    margin: 15px 0 0 0;
}

#news-messages {
    position: relative;
    display: block;
    list-style: none;
    font-size: 1.8em;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 85px;
}

#news-messages > li {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 30%;
    margin: auto;
    text-align: center;
}

/* Language Menu */
#lang-menu {
    display: inline;
    font-size: 1.0em;
}

#lang-menu ul.menu_body {
    border: 1px solid #4e4e4e;
    background: #efefef; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#dddddd'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dddddd)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #efefef, #dddddd); /* for firefox 3.6+ */
    display: none;
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 163px;
    z-index: 9999;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* This and line below for IE */
    behavior: url('PIE.htc');
}

#lang-menu li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 54px;
    height: 38px;
}

#lang-menu li.label {
    clear: left;
    float: none;
    width: auto;
    height: auto;
    padding: 3px;
}

#lang-menu li a {
    display: block;
    margin: 0;
    padding: 0;
}

#lang-menu li.flag a {
    background-image: url('../img/flags.png');
    border: 1px solid #4e4e4e;
    color: #4e4e4e;
    font-size: xx-small;
    font-weight: bold;
    height: 33px;
    margin: 2px;
    padding: 0;
    padding-right: 2px;
    text-align: right;
    text-decoration: none;
    text-shadow: #efefef 0 1px 0;
    width: 46px;
    behavior: url('css/PIE.htc');
}

#lang-menu li.flag a:hover {
    border: 1px solid #999999;
    color: #999999;
}

/* Error Messages */
span.error {
    background: #FFCCCC;
    border: 1px solid #CC0000;
    color: #CC0000;
    display: inline-block;
    padding: 0 2px 0 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

span.warning {
    background: #FFFFCC;
    border: 1px solid #FFCC00;
    color: #996600;
    display: inline-block;
    padding: 0 2px 0 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


/* General content */
#content {
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
    background-image: url('../img/content.png');
    clear: both;
    overflow-y: auto;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#content h1 {
    border-bottom: 1px solid #CCCCCC;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    font-weight: normal;
}

#content h2 {
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    font-weight: normal;
}

.stk-image {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
}

#content-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 500px;
}

#content-bugs {
    background: white;
    min-height: 500px;
}

#content-bugs > h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
}

#content-bugs h1 > form {

}

/* Loading Message */
#loading {
    background-image: url('../img/loader.gif');
    display: block;
    height: 32px;
    width: 32px;
}

/* Flag Badges */
span.badge {
    display: block;
    float: left;
    margin: 1px;
    padding: 3px;
    white-space: nowrap;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

span.f_featured {
    background-color: #FFFFCC;
    border: 1px solid #996600;
    color: #996600;
}

span.f_alpha {
    background-color: #CCCCFF;
    border: 1px solid #000099;
    color: #000099;
}

span.f_beta {
    background-color: #CCFFFF;
    border: 1px solid #009999;
    color: #009999;
}

span.f_rc {
    background-color: #CCFFCC;
    border: 1px solid #009900;
    color: #009900;
}

span.f_dfsg {
    background-color: #CCCCCC;
    border: 1px solid #000000;
    color: #000000;
}

/* Panel interface */
#left-menu {
    float: left;
    width: 250px;
    padding: 30px;
}


#left-menu_body {
    background-image: url('../img/left-menu.png');
    overflow-x: hidden;
    overflow-y: scroll;
    width: 230px;
    height: 456px;
    padding: 0 10px;
}

#left-menu_body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#left-menu_body .menu-item {
    display: block;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 2px;
    margin: 5px 0;
    min-height: 25px;
    width: 300px;
}

#left-menu_body .menu-item:hover {
    background-color: #000000;
    color: #FFFFFF;
}

#left-menu_body li div.icon {
    position: relative;
    float: left;
    width: 25px;
    height: 25px;
}

#left-menu_body .icon {
    height: 25px;
    margin-left: 2px;
    margin-right: 10px;
}

#left-menu_body .icon-featured {
    background: url('../img/emblem-favorite.png') no-repeat right;
    float: left;
    height: 25px;
    width: 25px;
    position: absolute;
    left: 5px;
    top: 5px;
}

.unavailable {
    color: #999999;
}

.unavailable a {
    color: #999999;
}

#right-content {
    float: left;
    width: 620px;
    padding: 30px;
}

#right-content_status {
    background-image: url("../img/content-addon.png");
    overflow-x: hidden;
    width: 580px;
    padding: 0 20px 0 20px;
}

#right-content_body {
    background-image: url("../img/content-addon.png");
    width: 580px;
    height: 456px;
    padding: 0 20px 0 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#right-content h1 {
    display: block;
    border-bottom: 1px solid #CCCCCC;
}

#right-content h2 {
    border-bottom: 1px solid #CCCCCC;
    font-size: 1.4em;
    font-weight: normal;
}

#right-content h3 {
    clear: both;
    display: block;
    border-bottom: 1px dashed #CCCCCC;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #999999;
}

a img {
    border: none;
}

.subtext {
    font-size: x-small;
    color: #666666;
    font-weight: normal;
}

/* Error Pages */
#error-container {
    background: rgba(255, 255, 255, 0.75);
    margin: 2em 10em 2em 10em;
    padding: 1.5em;
    border-radius: 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

#error-container h1 {
    margin-top: 0;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    clear: none;
}

#error-container p {
    font-size: 1.5em;
    clear: none;
}

#error-container img {
    float: left;
}
