html{font-size: 100%;} 
body{margin: 0 auto; font-size: .8em; color: #000; background: url(img/bg.png) no-repeat;}

#global{
 width: 1000px;
 margin: 0 auto;
}

/* -------- Top Menu --------- */

 #menu_top{
  width: 1000px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
 }

 .menu_top_left{
  width: 20px;
  height: 30px;
  background: url('img/menu_top_left.png') no-repeat;
  float: left; 
 }

 #menu_top2{
  width: 980px;
  height: 30px;
  margin-left: 20px;
 }

  .menu_top_middle{
   width: 960px;
   height: 30px;
   background: url('img/menu_top_middle.png') repeat-x;
   float: left;
  }

    #nav_top{
     list-style: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
    }

    #nav_top li{
     float: left;
     width: 90px;
     height: 30px;
     color: #fff;
    }

    #nav_top li a{
     display: block;
     color: #bcbcbc;
     font: 0.8em "Verdana",Arial,sans-serif;
     font-weight: bold;
     padding: 6px 0;
     text-align: center;
     text-decoration: none;
    }

    #nav_top li a:hover, #nav li a:focus, #nav li a:active{
     background: url('img/hover.png') no-repeat;
     text-decoration: none;
     color: #ed9700;
    }

  .menu_top_right{
   width: 20px;
   height: 30px;
   background: url('img/menu_top_right.png') no-repeat;
   margin-left: 960px;
  }

/* -------- Logo part --------- */

 #logo{
  width: 250px;
  height: 225px;
  margin: 0 auto;
  margin-top: 50px;
  background: url('img/logo.png') no-repeat;
 }


 #mini_logo{
  width: 120px;
  height: 90px;
  margin-left: 20px;
  margin-top: 20px;
  background: url('img/mini_logo.png') no-repeat;
  float: left;
 }

/* -------- General block --------- */

 #general_block{
  width: 460px;
  height: 500px;
  margin: 0 auto;
 }

/* -------- Dropdown menu block --------- */

  #dropdown_menu{
   width: 460px;
   height: 30px;
   background: #2c2c2c url('img/bg_menu.png') repeat-x;
  }

/* -------- Dropdown menu settings --------- */

  ul.dropdown,
  ul.dropdown li,
  ul.dropdown ul{
   list-style: none;
   padding: 0;
   margin: 0;
  }

  ul.dropdown{
   float: left;
   z-index: 8;
   position: relative;
  }

  ul.dropdown li{
   line-height: 1.3em;
   float: left;
  }

  ul.dropdown li.hover,
  ul.dropdown li:hover{
   cursor: default;
   z-index: 10;
   position: relative;
  }

  ul.dropdown ul{
   width: 100%;
   visibility: hidden;
   top: 100%;
   left: 0;
   z-index: 9;
   position: absolute;
  }

  ul.dropdown ul li{
   float: none;
  }

  ul.dropdown ul ul{
   top: 1px;
   left: 99%;
  }

  ul.dropdown li:hover > ul{
   visibility: visible;
  }

/* -------- Homepage general content--------- */

  #general_content{
   width: 460px;
   height: 130px;
  }

   .content_top{
    width: 460px;
    height: 20px;
    background: url('img/content_top.png') no-repeat;
   }

   .content_middle{ 
    width: 460px;
    height: 90px;
    background: url('img/content_middle.png') no-repeat;
   }

    #content_icon{
     width: 90px;
     height: 90px;
     background: url('img/help.png') no-repeat;
     float: left;
    }

    #content_help{
     width: 370px;
     height: 90px;
     color: #b4e0b4;
     font: 0.9em "Verdana",Arial,sans-serif;
     font-weight: bold;
     float: right;
    }

   .content_bottom{
    width: 460px;
    height: 20px;
    background: url('img/content_bottom.png') no-repeat;
   }


/* -------- Database page --------- */


  #navigation{
   width: 1000px;
   height: 30px;
   margin: 0 auto;
   margin-top: 130px;
  }

   #navigation_left{
    width: 230px;
    height: 30px;
    background: #2c2c2c url('img/bg_menu.png') repeat-x;
    float: left;
   }

   #navigation_right{
    width: 770px;
    height: 30px;
    background: #2c2c2c url('img/bg_menu.png') repeat-x;
    float: right;
   }

    #navigation_nav{
     width: 1000px;
     height: 30px;
     position: absolute;
    }


  #primary_top{
   width: 1000px;
   height: 4px;
  }

   #primary_top_left{
    width: 230px;
    height: 4px;
    background: url('img/primary_top_left.png') no-repeat;
    float: left;
   }

   #primary_top_right{
    width: 770px;
    height: 4px;
    background: url('img/primary_top_right.png') no-repeat;
    margin-left: 230px;
    position: relative;
   }


  #primary_content{ 
   width: 1000px;
   height: 478px;
  }

   #primary_content_left{ 
    width: 230px;
    height: 478px;
    background: url('img/primary_content_left.png') repeat-y;
    float: left;
   }

   #primary_content_right{ 
    width: 770px;
    height: 478px;
    background: url('img/primary_content_right.png') repeat-y;
    margin-left: 230px;
    position: relative;
   }


  #primary_bottom{ 
   width: 1000px;
   height: 18px;
   margin-top: -18px;
  }

   #primary_bottom_left{ 
    width: 230px;
    height: 18px;
    background: url('img/primary_bottom_left.png') repeat-y;
    float: left;
   }

   #primary_bottom_right{ 
    width: 770px;
    height: 18px;
    background: url('img/primary_bottom_right.png') repeat-y;
    margin-left: 230px;
    position: relative;
   }

/* -------- Base page --------- */

   #secondary_content_left{ 
    width: 230px;
    height: 478px;
    background: url('img/secondary_content_left.png') repeat-y;
    float: left;
   }

   #secondary_bottom_left{ 
    width: 230px;
    height: 18px;
    background: url('img/secondary_bottom_left.png') repeat-y;
    float: left;
   }

/* -------- Useless --------- */

    .primary_content_right_download{ 
     width: 130px;
     height: 40px;
     padding-top: 438px;
     padding-right: 20px;
     float: right;
    }

