/**
 * copyright 2009 Lucas Baudin <xapantu@gmail.com>
 *
 * This file is part of stkaddons
 *
 * stkaddons is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * stkaddons is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with stkaddons.  If not, see <http://www.gnu.org/licenses/>.
 */
 
 ul, li{margin:0; padding:0; list-style:none;}
 
body {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 13.5px;
    background-repeat:no-repeat;
    background-position: top left;
    padding:0px;
    margin:0px;
    color:black;
}

label {
    font-weight: bold;
}

#top-menu
{
    display: block;
    color: black;
    width: 100%;
    height: 35px;
    background-image: url("../image/background-top.png");
    background-repeat: repeat-x;
}
#top-menu-content
{
    padding-top: 8px;
    margin: 0px 20px 0px 20px;
}
#top-menu .left
{
    float: left;
}
#top-menu .right
{
    float: right;
}
#top-menu a
{
    color:black;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration:underline;
}
#top-menu a:hover
{
    color:grey;
}

/* Home Icons */
#index-menu {
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 130px;
    width: auto;
}
#index-menu > div {
    display: table-cell;
    padding: 0px 50px 0px 50px;
    width: 106px;
}
#index-menu a {
    background-image: url('../image/home-icons.png');
    background-repeat: no-repeat;
    display: block;
    padding: 108px 0px 0px 0px;
    width: 106px;
}
#index-menu a span {
    display: inline;
    background: #efefef;
    padding: 2px 15px 2px 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* This and line below for IE */
    behavior: url('PIE.htc');
}

/* Language Menu */
#lang-menu {
    display: inline;
}
#lang-menu ul.menu_body {
    border: 1px solid #4e4e4e;
    background: #efefef;
    display: none;
    list-style: none;
    position: absolute;
    margin: 0px;
    width: 163px;
    z-index: 9999;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* This and line below for IE */
    behavior: url('PIE.htc');
}
#lang-menu li {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    width: 54px;
    height: 38px;
}
#lang-menu li.label {
    clear: left;
    float: none;
    width: auto;
    height: auto;
    padding: 3px;
}
#lang-menu li a {
    display: block;
    margin: 0px;
    padding: 0px;
}
#lang-menu li.flag a {
    background-image: url('../image/flags.png');
    border: 1px solid #4e4e4e;
    padding: 0px;
    width: 48px;
    height: 33px;
    margin: 2px;
}

#logo_center
{
    padding-top: 15px;
    display:inline;
}

#news-panel
{
    display: block;
    clear: both;
    background-image: url('../image/news-panel.png');
    width: 1000px;
    height: 125px;
}
#news-messages
{
    display: table;
    list-style: none;
    font-size: 1.8em;
    width: 100%;
    height: 100%;
}
#news-messages > li
{
    display: table-cell;
    padding-top: 20px;
    text-align: center;
    vertical-align: middle;
}

#upload_agreement td
{
    vertical-align: top;
}

.viewGlobal
{
	width:1000px;
	vertical-align:top;
	border-collapse:collapse;
	overflow:hidden;
	clear:both;
}
.viewGlobal tr td
{
	vertical-align:top;
	border-left:2px black solid;
	border-right:2px black solid;
}
.viewGlobal tr table tr td
{
	vertical-align:top;
	border-left:none;
	border-right:none;
	height:100%;
}
.viewGlobal tr
{
	vertical-align:top;
	border-left:2px black solid;
	border-right:2px black solid;
	height:100%;
}
.root, .sub
{
	font-size:15px;
	background-color:black;
	color:white;
	width:227px;
	padding:3px;
	clear:both;
	float:left;
	text-decoration:none !important;
}
.root:hover, .sub:hover
{
	font-weight:bold;
	background-color:transparent;
	color:black;
	text-decoration:none !important;
	background-image:url("../image/fleche.png");
	background-position:right center;
	background-repeat:no-repeat;
}
.rootSelected, .subSelected
{
	font-size:15px;
	width:227px;
	padding:3px;
	font-weight:bold;
	clear:both;
	float:left;
	text-decoration:none !important;
	background-color:transparent;
	color:black;
	text-decoration:none !important;
	background-image:url("../image/fleche.png");
	background-position:right center;
	background-repeat:no-repeat;
}
.root
{

	display:block;
}
.contentRoot
{
width:250px;
display:block;
float:left;
height:100%;
overflow:scroll;
overflow-x:hidden;
height:500px;

}
.contentSub
{
width:249px;
display:block;
float:left;
height:100%;
overflow:scroll;
overflow-x:hidden;
height:500px;
}
.divSub
{
display:none;
}
.dispDiv
{
	display:none;
}
.littleIcon
{
	height:20px;
	border:none;
}
.rootSelected, .subSelected, .root:hover, .sub:hover
{
	
	filter:alpha(opacity=65);
   -moz-opacity:0.65;
   opacity: 0.65;
   background-color:white;
}
.dispDiv
{
	padding:10px;
	
height:475px !important;
overflow:scroll;
overflow-x:hidden;

}
.thirdCol
{
    filter:alpha(opacity=92);
    -moz-opacity:0.92;
    opacity: 0.92;
    background-color:white;
    padding:3px;

    float:left;
    display:block;
    width:476px !important;
}
.rating { 
	position: relative;
	width: 55px;
	height: 17px;
}
.rating .emptystars {
	position: absolute;
	background: transparent url(../image/stars.png) top left no-repeat;
	top: 0px;
	left: 0px;
	width: 55px;
	height: 17px;
	z-index: 101;
}
.rating .fullstars {
	position: absolute;
	background: transparent url(../image/stars_full.png) top left no-repeat;
	top: 0px;
	left: 0px;
	height: 17px;
	z-index: 102;
}

a
{
    color: #000000;
    text-decoration:none;
}
a:hover
{
    color: #999999;
}
#global
{
    background-color:white;
    margin:auto;
    width:1000px;
    background-image:url("../image/background.jpg");
    background-repeat:no-repeat;
    height:623px;
}
#content
{
    padding: 5px;
    background-image:url("../image/content.png");
    clear:both;
    max-height: 575px;
    overflow-y: scroll;
}
.preview
{
    width:300px;
}
#news_div{
    width:216px;
    float:left;
    margin-left:33px;
}
#news_top, #news_center, #news_bottom{
    width:100%;
    display:block;
    min-height:12px;
}
#news_top
{
    background-image:url("../image/background-news-top.png");
}
#news_center
{
    background-image:url("../image/background-news-center.png");
}
#news_center a
{
    font-weight:bold;
}
#news_bottom
{
    background-image:url("../image/background-news-bottom.png");
}

h1
{
    clear:both;
    font-size:23px;
    font-family: Tahoma, Verdana,Geneva,sans-serif;
    font-weight:normal;
}
h1 .left
{
    width:14px;
    min-height:44px;
    background-image:url("../image/h1-left.png");
    float:left;
    display:block;
}
h1 .center
{
    min-height:44px;
    background-image:url("../image/h1-center.png");
    float:left;
    display:block;
    width:572px;
}
h1 .right
{
    width:14px;
    min-height:44px;
    background-image:url("../image/h1-right.png");
    float:left;
    display:block;
}

h2
{
    clear:both;
    font-size:15px;
    font-family: Tahoma, Verdana,Geneva,sans-serif;
    font-weight:normal;
}
a img 
{
    border:none;
}
span.error
{
    background: #FFCCCC;
    border: 1px solid #CC0000;
    color: #CC0000;
    display: inline-block;
    padding: 0px 2px 0px 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
span.warning
{
    background: #FFFFCC;
    border: 1px solid #FFCC00;
    color: #996600;
    display: inline-block;
    padding: 0px 2px 0px 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* Flag Badges */
span.f_featured
{
    display: inline-block;
    background-color: #FFFFCC;
    border: 1px solid #996600;
    color: #996600;
    margin: 1px;
    padding: 3px;
    white-space: nowrap;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
span.f_alpha
{
    display: inline-block;
    background-color: #CCCCFF;
    border: 1px solid #000099;
    color: #000099;
    margin: 1px;
    padding: 3px;
    white-space: nowrap;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
span.f_beta
{
    display: inline-block;
    background-color: #CCFFFF;
    border: 1px solid #009999;
    color: #009999;
    margin: 1px;
    padding: 3px;
    white-space: nowrap;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
span.f_rc
{
    display: inline-block;
    background-color: #CCFFCC;
    border: 1px solid #009900;
    color: #009900;
    margin: 1px;
    padding: 3px;
    white-space: nowrap;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
span.f_dfsg
{
    display: inline-block;
    background-color: #CCCCCC;
    border: 1px solid #000000;
    color: #000000;
    margin: 1px;
    padding: 3px;
    white-space: nowrap;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* Layout for panels */
#left-menu
{
    float: left;
    width: 250px;
    padding: 30px;
}
#left-menu_top
{
    background-image: url('../image/left-menu_top.png');
    height: 10px;
    width: 100%;
}
#left-menu_body
{
    background-image: url('../image/left-menu.png');
    overflow-x: hidden;
    overflow-y: scroll;
    width: 210px;
    height: 456px;
    padding: 0px 20px 0px 20px;
}
#left-menu_bottom
{
    background-image: url('../image/left-menu_bottom.png');
    height: 10px;
    width: 100%;
}
#left-menu_body ul
{
    list-style: none;
    margin: 0px 10px 0px 0px;
    padding: 5px 5px 5px 0px;
}
#left-menu_body .menu-item
{
    display:block;
    font-size: 1.5em;
    padding: 2px;
    margin-bottom: 2px;
}
#left-menu_body .menu-item:hover
{
    background-color:black;
    color:white;
}
.unavailable
{
    color: #999999;
}
.unavailable a
{
    color: #999999;
}

#right-content {
    float: left;
    width: 620px;
    padding: 30px;
}
#right-content_top
{
    background-image:url("../image/content-addon_top.png");
    height: 10px;
    width: 100%;
}
#right-content_status
{
    background-image:url("../image/content-addon.png");
    overflow-x: hidden;
    width: 580px;
    padding: 0px 20px 0px 20px;
}
#right-content_body
{
    background-image:url("../image/content-addon.png");
    width:580px;
    height:456px;
    padding: 0px 20px 0px 20px;
    overflow-y:scroll;
    overflow-x: hidden;
}
#right-content_bottom
{
    background-image:url("../image/content-addon_bottom.png");
    height: 10px;
    width: 100%;
}
#addon-image
{
    display: block;
    float: right;
    text-align: center;
}
#right-content h1
{
    border-bottom: 1px solid #CCCCCC;
}
#right-content h3
{
    display: block;
    border-bottom: 1px dashed #CCCCCC;
}

#right-content table.info
{
    border: 0px;
    border-spacing: 0px 2px;
    margin: 5px 2px 5px 2px;
}
#right-content table.info tbody tr
{
    background: #DDDDDD;
}
#right-content table.info tbody tr:nth-child(even)
{
    background: #EEEEEE;
}

/* Addon image tiles */
div.image_thumbs
{
    overflow: auto;
}
div.image_thumb_container
{
    display: block;
    background: #CCCCDD;
    border: 1px solid #666677;
    border-radius: 3px;
    float: left;
    padding: 3px;
    margin: 1px;
    min-width: 78px;
    min-height: 78px;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
div.unapproved
{
    border: 1px solid #CC0000;
    background: #DDCCCC
}

#addon_flags th
{
    vertical-align: bottom;
}

.icon
{
    height:25px;
    margin-left:2px;
    margin-right:10px;
}
/* Obselete - do not use */
.menu-addons:hover
{
    background-color:black;
    color:white;
}
.menu-addons
{
    display:block;
    padding:2px;
    margin-bottom:2px;
}
/* End obselete */
.help-hidden div
{
    display:none;
}
span.help-hidden
{
    color:white;
    background-color:black;
    width:250px;
    display:block;
    font-weight:bold;
    text-align:center;
}
div.help-hidden
{
    border:1px solid grey;
    width:250px;
}