/* copyright 2009 Lucas Baudin <xapantu@gmail.com>                 
                                                                              
 This file is part of stkaddons.                                 
                                                                              
 stkaddons is free software: you can redistribute it and/or      
 modify it under the terms of the GNU General Public License as published by  
 the Free Software Foundation, either version 3 of the License, or (at your   
 option) any later version.                                                   
                                                                              
 stkaddons is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for    
 more details.                                                                
                                                                              
 You should have received a copy of the GNU General Public License along with 
 stkaddons.  If not, see <http://www.gnu.org/licenses/>.   */
 .viewGlobal
{
	width:1000px;
	vertical-align:top;
	border-collapse:collapse;
	overflow:hidden;
	clear:both;
}
.viewGlobal tr td
{
	vertical-align:top;
	border-left:2px black solid;
	border-right:2px black solid;
}
.viewGlobal tr table tr td
{
	vertical-align:top;
	border-left:none;
	border-right:none;
	height:100%;
}
.viewGlobal tr
{
	vertical-align:top;
	border-left:2px black solid;
	border-right:2px black solid;
	height:100%;
}
.root, .sub
{
	font-size:15px;
	background-color:black;
	color:white;
	width:227px;
	padding:3px;
	clear:both;
	float:left;
	text-decoration:none !important;
}
.root:hover, .sub:hover
{
	font-weight:bold;
	background-color:transparent;
	color:black;
	text-decoration:none !important;
	background-image:url("../image/fleche.png");
	background-position:right center;
	background-repeat:no-repeat;
}

.rootSelected, .subSelected
{
	font-size:15px;
	width:227px;
	padding:3px;
	font-weight:bold;
	clear:both;
	float:left;
	text-decoration:none !important;
	background-color:transparent;
	color:black;
	text-decoration:none !important;
	background-image:url("../image/fleche.png");
	background-position:right center;
	background-repeat:no-repeat;
}
.root
{

	display:block;
}
.contentRoot
{
width:250px;
display:block;
float:left;
height:100%;
overflow:scroll;
overflow-x:hidden;
height:500px;

}
.contentSub
{
width:249px;
display:block;
float:left;
height:100%;
overflow:scroll;
overflow-x:hidden;
height:500px;
}
.divSub
{
display:none;
}
.dispDiv
{
	display:none;
}
.littleIcon
{
	height:20px;
	border:none;
}

.rootSelected, .subSelected, .root:hover, .sub:hover
{
	
	filter:alpha(opacity=65);
   -moz-opacity:0.65;
   opacity: 0.65;
   background-color:white;
}
.dispDiv
{
	padding:10px;
	
height:475px !important;
overflow:scroll;
overflow-x:hidden;

}
.thirdCol
{
	filter:alpha(opacity=92);
   -moz-opacity:0.92;
   opacity: 0.92;
   background-color:white;
   padding:3px;
   
	float:left;
	display:block;
	width:476px !important;
}
