body {

}

h1 {
    border-bottom: 1px solid #CCCCCC;
    font-family: sans-serif;
}

h2 {
    border-bottom: 1px dotted #CCCCCC;
    font-family: sans-serif;
}

h3 {
    font-family: sans-serif;
}

table {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
}

thead {
    background: #CCCCCC;
}

/* Sortable tables */
table.sortable thead {
    background-color: #CCCCCC;
    color: #666666;
    font-weight: bold;
    cursor: default;
}

th {
    font-family: sans-serif;
    padding: 2px;
}

td {
    border: 1px solid #CCCCCC;
    padding: 2px;
}
