/* Icons from directory "" */
.icon-Basque_Country,.icon-Basque_Country\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-Basque_Country-dims{width:30px;height:25px}
.icon-Brazil,.icon-Brazil\:regular{background-image:url('icons/icons.svg');background-position:0 -25px;background-repeat:no-repeat}
.icon-Brazil-dims{width:30px;height:25px}
.icon-Catalonia,.icon-Catalonia\:regular{background-image:url('icons/icons.svg');background-position:0 -50px;background-repeat:no-repeat}
.icon-Catalonia-dims{width:30px;height:25px}
.icon-China,.icon-China\:regular{background-image:url('icons/icons.svg');background-position:0 -75px;background-repeat:no-repeat}
.icon-China-dims{width:30px;height:25px}
.icon-France,.icon-France\:regular{background-image:url('icons/icons.svg');background-position:0 -100px;background-repeat:no-repeat}
.icon-France-dims{width:30px;height:25px}
.icon-Galicia,.icon-Galicia\:regular{background-image:url('icons/icons.svg');background-position:0 -125px;background-repeat:no-repeat}
.icon-Galicia-dims{width:30px;height:25px}
.icon-Germany,.icon-Germany\:regular{background-image:url('icons/icons.svg');background-position:0 -150px;background-repeat:no-repeat}
.icon-Germany-dims{width:30px;height:25px}
.icon-Indonesia,.icon-Indonesia\:regular{background-image:url('icons/icons.svg');background-position:0 -175px;background-repeat:no-repeat}
.icon-Indonesia-dims{width:30px;height:25px}
.icon-Ireland,.icon-Ireland\:regular{background-image:url('icons/icons.svg');background-position:0 -200px;background-repeat:no-repeat}
.icon-Ireland-dims{width:30px;height:25px}
.icon-Italy,.icon-Italy\:regular{background-image:url('icons/icons.svg');background-position:0 -225px;background-repeat:no-repeat}
.icon-Italy-dims{width:30px;height:25px}
.icon-Netherlands,.icon-Netherlands\:regular{background-image:url('icons/icons.svg');background-position:0 -250px;background-repeat:no-repeat}
.icon-Netherlands-dims{width:30px;height:25px}
.icon-Portugal,.icon-Portugal\:regular{background-image:url('icons/icons.svg');background-position:0 -275px;background-repeat:no-repeat}
.icon-Portugal-dims{width:30px;height:25px}
.icon-Russia,.icon-Russia\:regular{background-image:url('icons/icons.svg');background-position:0 -300px;background-repeat:no-repeat}
.icon-Russia-dims{width:30px;height:25px}
.icon-Spain,.icon-Spain\:regular{background-image:url('icons/icons.svg');background-position:0 -325px;background-repeat:no-repeat}
.icon-Spain-dims{width:30px;height:25px}
.icon-United_Kingdom,.icon-United_Kingdom\:regular{background-image:url('icons/icons.svg');background-position:0 -350px;background-repeat:no-repeat}
.icon-United_Kingdom-dims{width:30px;height:25px}